.cooked a:not([class]) {
  text-decoration: underline;
}

.sidebar-section-wrapper[data-section-name="chat-dms"],
.sidebar-section-wrapper[data-section-name="chat-channels"],
.sidebar-section-wrapper[data-section-name="user-threads"],
.sidebar-section-wrapper[data-section-name="messages"] {
  display: none;
}

:root {
  --tertiary-med-or-tertiary: #829ca5;
  --tertiary-low: #e7eaeb;
  --tertiary-very-low: #e7eaeb;
  --highlight-bg: #e7eaeb;
}
