.cooked a:not([class]) {
  text-decoration: underline;
}

.sidebar-section-wrapper[data-section-name="chat-dms"],
.sidebar-section-wrapper[data-section-name="chat-channels"],
.sidebar-section-wrapper[data-section-name="user-threads"],
.sidebar-section-wrapper[data-section-name="messages"] {
  display: none;
}

$tertiary-low: dark-light-choose(#e7eaeb, #141b1d);
$tertiary-very-low: dark-light-choose(#e7eaeb, #141b1d);
$highlight-bg: dark-light-choose(#e7eaeb, #141b1d);

:root {
  --tertiary-med-or-tertiary: #829ca5;
  --tertiary-low: #{$tertiary-low};
  --tertiary-very-low: #{$tertiary-very-low};
  --highlight-bg: #{$highlight-bg};
}
