.categories-list {
  .fkb-panel-toggle-button {
    display: none !important;
  }

  .fkb-panel-sidebar {
    display: none !important;
  }

  .category-boxes {
    .category-details {
      .description {
        margin-top: 1em;
      }
    }
  }
}
